/* Images Slider */

.slider {
  @media (max-width: 432px) {
    float: none !important;
    align-self: center !important;
    margin-left: 0em;
    margin-right: 0em;
  }
  width: 16.5em !important;
  height: 33.5em !important;
  position: relative;
  display: block;
  float: right;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 0.5em;
  margin-bottom: 5em;
}

.bigslider {
  @media (max-width: 432px) {
    float: none !important;
    align-self: center !important;
    margin-left: 0em;
    margin-right: 0em;
  }
  width: 16.5em !important;
  height: 36.2em !important;
  position: relative;
  display: block;
  float: right;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 0.5em;
  margin-bottom: 5em;
}

.slider2 {
  @media (max-width: 432px) {
    float: none !important;
    align-self: center !important;
    margin-left: 0em;
    margin-right: 0em;
  }

  width: 16.5em !important;
  height: 33.5em !important;
  position: relative;
  display: block;
  float: left;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 0.5em;
  margin-bottom: 5em;
}

.sliderweb {
  @media (max-width: 850px) {
    width: 27em !important;
    height: 17em !important;
    position: relative !important;
    display: block !important;
    float: none !important;
    align-self: center !important;
    align-items: center !important;
    margin-left: 0em !important;
    margin-right: 0em !important;
    margin-top: 0.5em !important;
    margin-bottom: 5em !important;
  }

  @media (max-width: 550px) {
    width: 25em !important;
    height: 16em !important;
    position: relative !important;
    display: block !important;
    float: none !important;
    align-self: center !important;
    align-items: center !important;
    margin-left: 0em !important;
    margin-right: 0em !important;
    margin-top: 0.5em !important;
    margin-bottom: 5em !important;
  }

  @media (max-width: 432px) {
    width: 21em !important;
    height: 13em !important;
    position: relative !important;
    display: block !important;
    float: none !important;
    align-self: center !important;
    align-items: center !important;
    margin-left: 0em !important;
    margin-right: 0em !important;
    margin-top: 0.5em !important;
    margin-bottom: 4em !important;
  }

  width: 35.5em;
  height: 21.5em;
  position: relative;
  display: block;
  float: left !important;
  margin-left: 1.5em;
  margin-right: 2em;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.sliderimage {
  height: 580 !important;
  width: 286 !important;
}

.sliderimageweb {
  max-height: 100% !important;
  max-width: 100% !important;
}
