/* Images Slider */

.slider {
  @media (max-width: 432px) {
    float: none !important;
    align-self: center !important;
    margin-left: 0em;
    margin-right: 0em;
  }
  width: 16.5em !important;
  height: 33.5em !important;
  position: relative;
  display: block;
  float: right;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 0.5em;
  margin-bottom: 5em;
}

.bigslider {
  @media (max-width: 432px) {
    float: none !important;
    align-self: center !important;
    margin-left: 0em;
    margin-right: 0em;
  }
  width: 16.5em !important;
  height: 36.2em !important;
  position: relative;
  display: block;
  float: right;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 0.5em;
  margin-bottom: 5em;
}

.slider2 {
  @media (max-width: 432px) {
    float: none !important;
    align-self: center !important;
    margin-left: 0em;
    margin-right: 0em;
  }

  width: 16.5em !important;
  height: 33.5em !important;
  position: relative;
  display: block;
  float: left;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 0.5em;
  margin-bottom: 5em;
}

.sliderweb {
  width: 35.5em;
  height: 29em;
  position: relative;
  display: block;
  float: left;
  margin-left: 1.5em;
  margin-right: 2em;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.sliderweb2 {
  width: 35.5em;
  height: 29em;
  position: relative;
  display: block;
  float: right;
  margin-left: 1.5em;
  margin-right: 2em;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.sliderimage {
  height: 580 !important;
  width: 286 !important;
}
